.c-portfolio {
    @include clearfix;
    //margin-top: calc(100vh - 111px);

    // Column
    &__item {
        background-color: $black;
        color: $white;
        lost-column: 1/1 1 0px;
        position: relative;
        text-align: center;

        // Desktop
        @include breakpoint($medium) {
            lost-column: 1/3 3 0px;
        }

    }

    // Link
    &__link {
        top: 0;
        bottom: 0;
        display: block;
        color: $white;
        position: absolute;
        @include aspect-ratio(16, 9);
    }

    // Title
    &__title {
        @include set-font-size(1.2rem, 1.4rem, 1.6rem);
        bottom: 0;
        color: $white;
    }

}
