.c-portfolio {
    @include clearfix;
    //margin-top: calc(100vh - 111px);

    // Column
    &__item {
        background-color: $black;
        color: $white;
        lost-column: 1/1 1 0px;
        overflow: hidden;
        position: relative;
        text-align: center;

        // Desktop
        @include breakpoint($medium) {
            lost-column: 1/2 0 0px;
        }

        &:hover {
            cursor: pointer;
        }

    }

    // Link
    &__link {
        @include aspect-ratio(4, 2);
        //position: absolute;
        bottom: 0;
        color: $white;
        display: block;
        position: relative;
        top: 0;
    }

    // Title
    &__title {
        @include set-font-size(1.2rem, 1.4rem, 1.6rem);
        bottom: $spacing--small;
        color: $white;
        margin: 0;
        position: relative;
        z-index: 100;
    }

    // Video
    &__video {
        bottom: 0;
        height: 100%;
        left: 0;
        object-fit: cover;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }


}
