.page-header{
	background-color: $white;
	padding: $spacing--tiny;
	text-transform: lowercase;
    @include clearfix;
    display: table;
    width: 100%;
    box-shadow: 0 4px 6px -6px rgba($black, .8);

    @include breakpoint($medium) {
        padding: $spacing--small;
    }

    &__logo {
        //lost-column: 1/2 2 0px;
        @include set-font-size(1.8rem, 2rem, 2.4rem);
        display: table-cell;
        margin: 0;
        padding: 0;

        a {
            color: $black;
            display: block;
        }

    }

}
