.page-header{
	background-color: $white;
	padding: $spacing--tiny;
	text-transform: lowercase;
    @include clearfix;
    display: table;
    width: 100%;

    @include breakpoint($medium) {
        padding: $spacing--medium;
    }

    &__logo {
        //lost-column: 1/2 2 0px;
        @include set-font-size(2rem, 3rem, 4rem);
        display: table-cell;
        margin: 0;
        padding: 0;

        a {
            color: $black;
            display: block;
        }

    }

}
