.primary-site-nav {
    text-align: right;
    display: table-cell;
    vertical-align: bottom;

    &__menu {
        //lost-column: 1/2 2 0px;
        //padding: 1.5rem 0 0;
        margin: 0;
    }

}



// Link
.menu-item {
    display: inline-block;
    text-transform: capitalize;
    margin-left: $spacing--tiny;
    @include set-font-size(1.4rem, 1.4rem, 1.6rem);

    @include breakpoint($medium) {
        margin-left: $spacing--small;
    }

    a {
        color: lighten($dark-grey, 30%);
        display: block;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: $black;
            position: absolute;
            bottom: -5px;
            transition: all ease .3s;
        }

    }

    &:hover {

        a {
          color: $black;
            // &::after {
            //     content: '';
            //     bottom: 0px;
            // }
        }

        // ~.current-menu-item,
        // >.current-menu-item{
        //     a {
        //         &::after {
        //             content: '';
        //             bottom: -5px;
        //         }
        //     }
        // }

    }

}


.current_page_item {

    a {
        color: $black;

        &::after {
            content: '';
            bottom: 0px;
        }

    }

}
