.primary {
    text-align: right;
    display: table-cell;
    vertical-align: bottom;
}

.p-site-nav {
    //lost-column: 1/2 2 0px;
    //padding: 1.5rem 0 0;
    margin: 0;

}

// Link
.menu-item {
    display: inline-block;
    text-transform: capitalize;
    margin-left: $spacing--tiny;
    @include set-font-size(1.2rem, 1.4rem, 1.6rem);

    @include breakpoint($medium) {
        margin-left: $spacing--small;
    }

    a {
        color: $dark-grey;
        display: block;
        position: relative;
        overflow: hidden;

        &::after {
            content: '';
            display: block;
            height: 2px;
            width: 100%;
            background-color: $black;
            position: absolute;
            bottom: -5px;
            transition: all ease .3s;
        }

        &:hover {

            &::after {
                content: '';
                bottom: 0px;
            }

        }

    }

}


.current_page_item {

    a {
        color: $black;

        &::after {
            content: '';
            bottom: 0px;
        }

    }

}
